{% extends 'base.html' %}
{% block title %}
Order Product
{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
{% include "nav.html" %}
<div class="container" align="center">
<form method="post" action="#">
      {% csrf_token %}
  <table>

    <tr>
      <td>Enter Product ID</td>
      <td><input type="text"name="pid" required></td>
    </tr>

    <tr>
      <td>Quantity</td>
      <td><input type="text" name="qty" required></td>
    </tr>

    <tr>
      <td>Quantity</td>
      <td><input type="submit" Value= "Order" required></td>
    </tr>





  </table>

</form>

</div>
{% endblock %}
